/* 
Font and color for reference:
font-family: 'Raleway', sans-serif;
font-family: 'Josefin Sans', sans-serif; 
color: rgb(170, 130, 27);
*/

:root{
    --main-bg-color: rgb(217, 220, 219);
    --hover-color: rgb(173, 187, 170);
    --font-color: rgb(130, 131, 131);
    --accent-color: rgb(170, 130, 27);
    --font-one: 'Josefin Sans', sans-serif;
    --font-two: 'Raleway', sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

.port, .nav, .navlinks, .sidenav {
    background-color: var(--main-bg-color);
}

.nav, .navlinks {
    color: var(--accent-color)!important;
    font-family: var(--font-two);
}

.navlinks:hover {
    color: var(--hover-color)!important;
    background-color: var(--main-bg-color)!important;
}

.contactme, .aboutme {
    cursor: pointer;
}

.slider-adjustment{
    position: absolute;
    top: 64px;
    left: 0;
    bottom: 50px;
    right: 0;
    overflow: hidden;
    margin-bottom: 0;
}

.para, .slider-adjustment {
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

.slider .indicators .indicator-item.active {
    background-color: var(--accent-color);
}

.slider .slides li .caption {
    top: 5%!important;
}

.icons {
    color: var(--accent-color);
    margin: 0.25em;
}

.icons:hover {
    color: var(--hover-color);
}

.name-about {
    color: var(--accent-color);
    font-family: var(--font-two)!important;
    font-size: 3.5em;
}

h1 {
    font-size: 3em;
    color: var(--accent-color)!important;
    font-family: var(--font-one)!important;
}

h2 {
    font-size: 2.5em;
}

p, h2 {
    color: var(--font-color)!important;
    font-family: var(--font-one)!important;
}

.parallax-container .section {
    width: 100%;
}

.port {
    width: 90%;
}

.parallax-container {
    height: 300px;
}

.portfolioLinks {
    color: var(--font-color);
}

.card-title {
    color: var(--accent-color);
    font-family: var(--font-one);
}

.material-icons {
    color: var(--accent-color);
}

.material-icons:hover {
    color: var(--hover-color);
}

.ex, .portfolioLinks:hover {
    color: var(--hover-color);
}

.port-row {
    margin: 3em 0 3em 0;
}

.card {
    margin: 1.5em;
}

.card-image {
    width: 100%;
}

.card-content {
    border-top: 1px solid var(--accent-color);
    height: 50%;
}

.card-image+.card-content {
    max-height: fit-content!important;
}

.phone {
    text-decoration: none;
}

.page-footer {
    color: var(--accent-color);
    background-color: var(--main-bg-color);
    padding-top: 0px;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-index {
    color: var(--accent-color);
    background-color: var(--main-bg-color);
    padding-top: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-copyright {
    color: var(--accent-color)!important;
    background-color: var(--main-bg-color)!important;
}

.mobile-bg {
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 790px) {
    .slider .slides li .caption {
        top: 0%!important;
    }

    .icons {
        margin: 0.2em;
    }

    h1 {
        margin: 0.75em 0 0 0;
    }
}

@media only screen and (max-width: 600px) {
    .slider-adjustment {
        top: 56px;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
       font-size: 2.5em;
    }
    
    h2 {
        font-size: 2em;
    }

    .name-about {
        font-size: 2.5em;
    }

    .mobile-bg {
        display: block;
    }

    .main-bg {
        display: none;
    }

}

@media only screen and (max-width: 400px) {
    .icons {
        margin: 0.05em;
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 2em;
     }
     
     h2 {
         font-size: 1.5em;
     }
 
     .name-about {
         font-size: 2em;
     }
     
     #aboutMeText {
         font-size: 1.1em!important;
     }
}