/* 
font-family: 'Raleway', sans-serif;
font-family: 'Josefin Sans', sans-serif; 
color: rgb(170, 130, 27);
*/

.home, body, .port, .nav, .navlinks, .sidenav {
    background-color: black;
}

.nav, .navlinks {
    color: rgb(170, 130, 27)!important;
    font-family: 'Raleway', sans-serif;
}

.navlinks:hover {
    background-color: #fff!important;
}

.slider-adjustment{
    position: fixed;
     top: 65px;
     left: 0;
     bottom: 0;
     right: 0;
     overflow: auto;
   background-color:cyan ;
   
}

.para, .slider-adjustment {
    border-top: 1px solid rgb(170, 130, 27);
    border-bottom: 1px solid rgb(170, 130, 27);
}

.slider .indicators .indicator-item.active {
    background-color: rgb(170, 130, 27);
}

.icons {
    color: rgb(170, 130, 27);
    margin: 0.5em;
}

.icons:hover {
    color: #fff
}

.name-about {
    color: rgb(170, 130, 27);
    font-family: 'Raleway', sans-serif!important;
}

h1, h2 {
    color: rgb(170, 130, 27)!important;
    font-family: 'Josefin Sans', sans-serif!important;
}

p, h5, h4, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

.parallax-container .section {
    width: 100%;
}

.port {
    width: 90%;
}

.parallax-container {
    height: 300px;
}

.portfolioLinks, .card-title {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

.material-icons, .ex, .portfolioLinks:hover {
    color: rgb(170, 130, 27);
}

.port-row {
    margin: 3em 0 3em 0;
}

.card {
    margin: 1.5em;
}

.card-image {
    width: 100%;
}

.card-content {
    border-top: 1px solid rgb(170, 130, 27);
    height: 50%;
}

@media only screen and (max-width: 790px) {
    .slider .slides li .caption {
        top: 0%!important;
    }

    .icons {
        margin: 0.2em;
    }
}

@media only screen and (max-width: 480px) {
    h1, h2 {
       font-size: 2.5em;
    }
    
    h5, h3, h4 {
        font-size: 2em;
    }

}

@media only screen and (max-width: 400px) {
    .icons {
        margin: 0.05em;
    }
}